
  <!--<script>
    window.onload = function () {
      google.accounts.id.initialize({
        client_id: '739979864172-bbrds0insroblueqf3grvncjuj4m3dca.apps.googleusercontent.com',
        callback: handleCredentialResponse
      });

      google.accounts.id.renderButton(
        document.getElementById("login"),
        { theme: "outline", size: "large"}
      );
    };

    function handleCredentialResponse(respose){
      console.log(response);
    }
  </script>-->
  

  <div class="container">
    <div class="d-flex align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="login-container">
            <h1 class="display-3">Inicia sesión</h1>
            <asl-google-signin-button type='standard' size='medium'></asl-google-signin-button>
        </div>
    </div>
</div>
